Common/
.vs/
*.user
*.suo
*.userprefs
*.rsuser
*.sln.docstates
**/[Bb]in/
**/[Oo]bj/
.vscode/
.idea/
*.sln.iml
.DS_Store
Thumbs.db
**/[Pp]ackages/
.nuget/packages/
.vscode/.nuget/
project.lock.json
project.assets.json
.paket/
paket-files/
TestData/
**/TestData/
